*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# LibreOffice
.~*

# Autotools
config.*
Makefile
autom4te.cache
*/.deps

# Compiled
*.o
*.a
