*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# LibreOffice
.~*

# Autotools
config.*
configure
Makefile
Makefile.in
*/Makefile.in
autom4te.cache
*/.deps
aclocal.m4
libtool
ltmain.sh
*/.libs

# Compiled
*.o
*.a
